body {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
 }
  
  .container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 320px;
    padding: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 70%;
  }
  
  .attribution {
    font-size: 12px;
    margin-top: 20px;
  }